<header class="flex justify-between items-center px-16 fixed w-full left-0 top-0 h-20 lg:h-24 z-[1000]">
    <h2 class="cursor-pointer text-white font-normal text-4xl">Fraiche</h2>
    <nav class="flex gap-8 text-white text-base font-semibold" *ngFor="let link of headerLinks">
        
            <a [routerLink]="link.path" [class.active]="isActive(link.path)"  >{{link.name}}</a>
          
       
    </nav>
    <div class="flex justify-between items-center gap-2">
        <span class="flex h-8 w-8 justify-center items-center cursor-pointer"><img src="/cart.png" alt="cart-icon" loading="lazy" class="h-full w-full"></span>
        <button class="px-7 py-3 rounded-2xl border-[#FF9900] border cursor-pointer text-base font-semibold" >Order Now</button>
    </div>
</header>
