<section class="min-h-screen flex justify-center items-center relative overflow-hidden object-cover pt-20 lg:pt-24 lg:px-16">
    <img src="/hero-bg.jpg" alt="Hero-bg" loading="lazy" class="absolute top-0 left-0 w-full h-full object-cover -z-10 opacity-20">
    <div class="relative z-50 flex flex-wrap lg:flex-nowrap w-full justify-center items-center   gap-12 py-10">
        <div class="flex justify-center flex-col gap-4 w-full max-lg:pt-8 min-sm:w-[60%] lg:w-1/2 px-4 lg:px-0">
            <h1 class="text-white mx-auto w-[90%] lg:w-full max-lg:text-center text-4xl lg:text-6xl xl:text-7xl font-bold">Where <span class="text-[#07D55A]">flavour</span> meets passion</h1>
            
            <p class="text-white max-lg:text-center font-semibold text-xl">Experience fraiches's mastery</p>
            <div class="ctas flex flex-col justify-center gap-2 w-full">
                <span class="transition-class rounded-[6px] h-16 border-[#FF9900] border cursor-pointer flex justify-center text-[#FF9900] items-center w-full font-semibold text-lg hover:text-white hover:bg-[#FF9900]">Order Now</span>
                <span class="transition-class rounded-[6px] h-16 text-white bg-[#FF9900] border-[#FF9900] border cursor-pointer flex justify-center items-center w-full font-semibold text-lg hover:text-[#FF9900] hover:bg-white hover:border-white">Make Reservation</span>

            </div>
        </div> 
        <div class="grid-cols-2 gap-2 grid-rows-2 grid lg:w-1/2 w-[80%] min-sm:w-[70%] h-[28rem]">
            <img src="/hero-1.png" alt="hero-1" loading="lazy" class=" w-full h-full object-cover shadow-lg">
            <img src="/hero-2.png" alt="hero-2" loading="lazy" class="row-span-2 w-full h-full object-cover shadow-lg">
            <img src="/hero-3.png" alt="hero-3" loading="lazy" class=" w-full h-full col-start-1 row-start-2 object-cover shadow-lg">
        </div> 
    </div>
</section>
