<section class="flex-col justify-center items-center w-full relative py-24 lg:px-16 px-4 sm:px-8">
  <div class="relative flex justify-center items-center w-full h-40 lg:h-52">
    <img src="/about-bg.png" alt="about-bg" class="absolute top-0 left-0 w-full h-full object-cover -z-10 opacity-20">
    <div class="self-center px-4 lg:px-8 w-full font-semibold text-2xl"><h2>About Us</h2></div>
  </div>
  <p class="text-justify font-medium text-lg pt-12 opacity-90">Welcome to Fraiche, where luxury meets exquisite taste. At Elan, we curate an unparalleled dining experience that transcends the ordinary. Our culinary artisans craft each dish with meticulous attention to detail, using only the finest ingredients sourced from around the globe. Our menu is a symphony of flavors, blending classic elegance with innovative flair, designed to delight even the most discerning palate.
Nestled in the heart of the city, Elan Gastronomy boasts an ambiance that exudes sophistication and comfort. Our elegantly designed interiors, coupled with impeccable service, create a serene and intimate atmosphere perfect for any occasion.
Whether you are indulging in our signature tasting menu or enjoying a bespoke cocktail at our luxurious bar, Elan Gastronomy promises an unforgettable journey of culinary excellence. Join us and discover the epitome of refined dining.</p>
</section>
