<section class="relative">
<img src="/newsletter-image.png" alt="newsletter-image" class="absolute top-0 left-0 w-full h-full object-cover -z-10 opacity-20">
    <div class="flex justify-center items-center flex-col gap-6 py-12 lg:w-[80%] mx-auto relative z-50">
        <h2 class="font-semibold text-3xl">Join Our Exclusive Newsletter</h2>
        <p class="text-lg font-medium relative -top-4">Get exclusive food offers when you join our newsletter</p>
        <form class="flex justify-center items-center gap-4 w-full md:w-[60%]">
            <input type="email" placeholder="Enter your email" class="w-full h-12 px-4 border rounded-md focus:outline-none focus:ring focus:ring-[#FF9900]">
            <button type="submit" class="bg-[#FF9900] text-white font-semibold px-5 py-2.5 rounded-md hover:bg-[#FF9900]/80 transition-class">Subscribe</button>
        </form>
    </div>
</section>
