<section class="flex justify-center items-center gap-8 lg:flex-nowrap flex-wrap py-12 lg:w-[80%] mx-auto">
    <div class="flex justify-center items-center object-contain object-center"><img src="/about-chef-image.png" alt="about-chef-image"></div>
    <div class="flex justify-center items-start flex-col gap-4 w-full md:w-1/2">
        <h3 class="font-semibold text-[#FF9900] text-lg">About Chef</h3>
        <b class="font-semibold text-4xl"> What we believe in </b>
        <p class="font-medium text-lg">Chef Itoro believes in sustainable, farm-to-table dining, using fresh, local ingredients to craft innovative dishes that celebrate natural flavors and nourish the soul, ensuring every meal is a unique experience.</p>
        <b class="font-semibold text-xl"> ItoroAbasi Ufot</b>
        <b class="font-semibold text-base relative -top-3">Chef UI</b>
    </div>
</section>
