<section class="flex justify-center items-center flex-col gap-6 py-12 w-full lg:px-16">
    <div class="flex flex-wrap px-4 lg:flex-nowrap justify-center w-full sm:px-10 md:px-24 items-center gap-8">
        <div class="relative  flex-wrap lg:flex-nowrap justify-center items-center object-cover object-center w-full lg:w-1/2 overflow-hidden rounded-3xl bg-gray-700">
            <img src="/about-image-1.png" alt="about Image" class="flex w-full" >
        </div>
        <div class="flex justify-center items-start flex-col gap-4 w-full lg:w-1/2"> 
            <h2 class="font-semibold text-3xl">History</h2>
<p class="flex text-justify text-lg font-normal">Founded in 2021, Fraiche began as a small bistro in Paris. Over the decades, it has grown into a renowned brand, celebrated for its culinary excellence and charming ambiance worldwide.</p>
<button class="text-[#0F0F0F] bg-[#FF9900] text-lg font-semibold px-5 py-2.5 hover:bg-white transition-class cursor-pointer">Read More</button>
        </div>
    </div>
    <div class="flex px-4 w-full sm:px-10 md:px-24 flex-wrap-reverse lg:flex-nowrap justify-center items-center gap-8">
        <div class="flex justify-center items-start flex-col gap-4 w-full lg:w-1/2"> 
            <h2 class="font-semibold text-3xl">About Us</h2>
<p class="flex text-justify text-lg font-normal">Franchie offers a delightful dining experience with a blend of traditional and modern cuisine, impeccable service, and a warm atmosphere, making every visit a memorable culinary journey.</p>
<button class="text-[#0F0F0F] bg-[#FF9900] text-lg font-semibold px-5 py-2.5 hover:bg-white transition-class cursor-pointer">Read More</button>
        </div>
        <div class="relative flex justify-center items-center object-cover object-center w-full lg:w-1/2 overflow-hidden rounded-3xl bg-gray-700">
            <img src="/about-image-2.png" alt="about Image" class="flex w-full" >
        </div>
    </div>
</section>
