@import "tailwindcss";
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-regular-webfont.woff2') format('woff2');
  font-display: swap;
}
*{
    outline: none;
}

body{
background-color: #0F0F0F;
color: white;
font-family: 'Poppins', sans-serif;
}
header.scrolled{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: #0f0f0f6e;
}
a{
    cursor: pointer;
}

nav a{
    color: white;
    text-decoration: none;
    transition: all .4s ease;
    position: relative;
        border-bottom: 3px solid transparent;

    
}
nav a:hover{
color: #FF9900;
}
.active{
color: #FF9900;
    border-bottom: 3px solid #FF9900;
}
.transition-class{
    transition: all .4s ease;
}




