@import "tailwindcss";
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-regular-webfont.woff2') format('woff2');
  font-display: swap;
}
*{
    outline: none;
}

body{
background-color: #0F0F0F;
color: white;
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}
header.scrolled{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: #0f0f0f6e;
}
a{
    cursor: pointer;
}


nav a{
    color: white;
    text-decoration: none;
    transition: all .4s ease;
    position: relative;
        border-bottom: 3px solid transparent;

    
}
nav a:hover{
color: #FF9900;
}
.active{
color: #FF9900;
    border-bottom: 3px solid #FF9900;
}
.transition-class{
    transition: all .4s ease;
}
.vanish{
  opacity: 0;
}

/* side nav */




/* for hamburger menu icon */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.white{
  stroke: #FFFFFF;
   fill: none;

  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #6f6f6f;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}






