<section class="flex-col justify-start items-center w-full py-6 sm:py-12 lg:px-16 px-4 sm:px-8 top-0 left-0 z-[2000] fixed h-full overflow-y-scroll gap-6 bg-[#0F0F0F]">
   <div class="flex justify-between items-center"><h1 class="font-semibold text-2xl sm:text-3xl">Cart Summary</h1>
    <a routerLink="/" class="font-semibold text-[#FF9900] text-base">Back to menu</a>
</div>
<div class="min-h-screen flex flex-col justify-center items-center">
    <h1 class="font-semibold text-center">Your Cart is empty. Please add items to your cart before proceeding to checkout.</h1>
</div>
<app-footer />
</section>