<section class="flex-col justify-start items-center pb-24 sm:pb-28 w-full pt-6 sm:pt-12 lg:px-16 px-4 sm:px-8 top-0 left-0 z-[2000] fixed h-full overflow-y-scroll gap-6 bg-[#0F0F0F]">
   <div class="flex justify-between items-center"><h1 class="font-semibold text-2xl sm:text-3xl">Cart Summary</h1>
    <a routerLink="/menu" class="font-semibold text-[#FF9900] text-base">Back to menu</a>
</div>
<div *ngIf=" cartItems.length === 0" class="min-h-screen flex flex-col justify-center items-center">
    <h1 class="font-semibold text-center">Your Cart is empty. Please add items to your cart before proceeding to checkout.</h1>
    
</div>
<div *ngIf="cartItems.length > 0" class="min-h-screen flex flex-col justify-start items-center">
    <div class="flex bg-[#1F1F1F] py-4 justify-between w-full my-2 items-center lg:px-16 gap-4 px-4 text-white font-semibold text-xl">
        <h2 class="">Subtotal</h2>
        <span>₦{{totalPrice}}</span>
    </div>
    <div class="flex w-full">
         <input type="email" required (change)="updateEmail($event)" placeholder="Enter your email" class="w-full sm:w-1/2 md:w-1/3 h-12 px-4 border border-gray-600 rounded-md focus:outline-none focus:ring focus:ring-[#FF9900]">
    </div>
    <div class="flex flex-col justify-start items-center gap-4 py-6 w-full">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-full">
            <app-cart-item *ngFor="let item of cartItems" [meal]="item" (removeItem)="removeItem(item.id)" (increamentItem)="increamentItem(item.id)" (increamentItem)="decreamentItem(item.id)"/>
        </div>
    </div>
   
</div>
<div *ngIf="cartItems.length > 0" class="bg-[#0F0F0F] fixed z-[10003] bottom-0 left-0 w-full flex justify-center items-center sm:p-8 p-4">
<button (click)="payWithPaystack()" class="bg-[#FF9900] text-xl font-bold w-full sm:w-1/2 lg:w-1/3 h-12  flex justify-center items-center rounded-lg cursor-pointer">Checkout</button>
</div>
</section>