<div class="h-[fit] w-[full] border border-[#FF9900] max-sm:rounded-2xl rounded-[26px] p-4 max-sm:p-2 flex flex-col justify-between gap-4">
    <span class="flex justify-center items-center object-center object-cover">
        <img src="{{meal.imageUrl}}" alt={{meal.title}}  class="w-full h-full" >
    </span>
    <div class="flex justify-between max-sm:text-base text-lg font-semibold items-center">
        <span class="max-w-[1/2] truncate">{{ meal.title }}</span>
        <span>₦{{meal.price }}</span>
    </div>
    <span *ngIf="!isInCart" (click)="addToCart()" class="flex w-full bg-[#FF9900] justify-center items-center h-12 rounded-[8px] text-base font-bold cursor-pointer" >Order Now</span>
    <div *ngIf="isInCart" class="flex justify-between items-center gap-2 w-full h-12  rounded-[8px] px-4">
        <span class="cursor-pointer" (click)="decreamentQuantity()">-</span>
       <span *ngIf="quantity > 0">
        {{ quantity }}
        </span>

        <span class="cursor-pointer" (click)="increamentQuantity()">+</span>
    </div>
</div>
